header { 
    background-color: beige; 
    padding: 20px; 
    display: flex; 
    justify-content: 
    space-between; 
    align-items: center;
}
#hero-section, #frontend-section {
    background-color: bisque;
    padding: 20px;
}

#uvod-section, #backend-section {
    background-color: rgb(225, 236, 250);
    padding: 20px;
}

#uvod-section div, #frontend-section div, #backend-section div {
    display: flex;
}






footer { background-color: beige; padding: 20px;}
